:root{
    --blanco:#FFF;
    --negro:#0E0E0E;
    --primario:#F6C12E;
    --secundario:#793D52;
    --fuentePrincipal: 'Oswald', sans-serif;
  }

html{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
}

.header__logo{
    margin: 1rem 0;
    background-color: var(--primario);
    width: 100px;
}

.nav__background{
    background-color:var(--negro);
  }
  
  .navegacion{  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (min-width:768px ) {
    .navegacion{
        flex-direction: row;
        justify-content: space-evenly;
    }
  }
  
  .navegacion__enlace{
    color: var(--blanco);
    text-decoration:none;
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0.5rem;
  } 
  
  @media (min-width:768px ) {
    .navegacion__enlace{
        padding: 1rem;
    }
  }
  
  .navegacion__enlace--activo,
  .navegacion__enlace:hover{
    color: var(--secundario);
  }


a:hover{
    color: orangered;
    transition: all 0.3s ease;
}

#carrusel-contenido {
    overflow: hidden;
}

#carrusel-caja {
    animation: automatizacion 15s infinite linear;
    height: 500px;
    width: 300%;
}

.carrusel-elemento {
    margin-top: 5.2rem;
    float: left;
    width: 33.333%;
}

.imagenes{
    height: 500px;
    width: 100%;
}

@keyframes automatizacion {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    40% {margin-left: -100%;}
    60% {margin-left: -100%;}
    80% {margin-left: -200%;}
    100% {margin-left: -200%;}
}

aside{
    float: left;
    position: relative;
    top: 7rem;
    left: 10rem;
}

.tijeras{
    width: 13rem;
}

.section-index{
    margin: 4rem auto 0;
    padding: 2rem 2rem;
    width: 40%;
    text-align: justify;
    background-color: #fff;
    border-radius: 5rem;
    box-shadow: 0 0.1rem 0.4rem rgb(0 0 0 / 30%);
    transform: translate(8rem);
}

.info{
    font-size: 1.7rem;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid;
    border-width: 0.2rem;
}

footer{
    width: 100%;
    padding: 2rem 0;
    margin-top: 10rem;
    background-color: #F6C12E;
    
}

.copyright{
    width: 40%;
    padding: 1.25rem 0 1.25rem 10%;
    display: inline-flex;
    
}

.redes{
    width: 50%;
    padding: 1.25rem 0;
    float: right;
    text-align: center;
}

@media only screen and (max-width:400px){
    /* header{padding-bottom: 1rem;} */
    aside{
        position: static;
        float: none;
        display: flex;
        justify-content: center;
        transform: translate(0,4rem);
    }
    .section-index{transform: translate(0,5rem);}
    .info{font-size: 1rem;}
    p{font-size: 70%;}
    #carrusel-caja, .carrusel-elemento, .imagenes{height: 250px;}
}
