:root{
  --blanco:#FFF;
  --negro:#0E0E0E;
  --primario:#F6C12E;
  --secundario:#793D52;
  --fuentePrincipal: 'Oswald', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**Globales**/
body{
  background-color: var(--primario);
  font-size: 1.6rem;
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}

a {
text-decoration: none;

}

img{
  max-width: 100%;
}

h1, h2{
  text-align: center;
  color: var(--secundario);
  font-family: var(--fuentePrincipal);
}

h1{
  font-size: 3.8rem;
}

h2{
  font-size: 2.8rem;
}
h3{
  font-size: 1.8rem;
  text-align: center;
  color: var(--blanco);
  font-family: var(--fuentePrincipal);
}

h4{
  font-size: 1rem;
  text-align: center;
  color: var(--blanco);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header{
  display: flex;
  justify-content:center;
  background-color: var(--primario);   
}

.header__logo{
  margin: 1rem 0;
  background-color: var(--primario);
}

.contenedor{
  max-width: 120rem;
  margin: 0 auto;
}

.nav__background{
  background-color:var(--negro);
}

.navegacion{  
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width:768px ) {
  .navegacion{
      flex-direction: row;
      justify-content: space-evenly;
  }
}

.navegacion__enlace{
  color: var(--blanco);
  text-decoration:none;
  font-family: var(--fuentePrincipal);
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.5rem;
} 

@media (min-width:768px ) {
  .navegacion__enlace{
      padding: 1rem;
  }
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
  color: var(--secundario);
}

.banner{
  margin-bottom: 1rem;
  margin: 2rem; 
}

.footer{
  background-color: var(--negro);
  margin-top: 2rem 0;
  padding: 1rem 0;
  position: relative;
}

.footer__imagen{
  display: block;
  margin: 0px auto; 
} 

.footer__texto{
  text-align: center;
}

.division{
  margin: 8rem;
}

.general{
  color: var(--blanco);
  display: flex;
  justify-content:center;
}

/* Formulario Contacto */

/**Grid**/
.grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:2rem;
}

@media (min-width: 1140px) {
  .grid{
      grid-template-columns:repeat(3,1fr)

      }
}

/**Productos**/
.producto{
  background-color: var(--negro);
  padding: 1rem;
}

.producto__imagen{
  width: 100%;
}

.producto__nombre{
  font-size: 2.5rem;
}

.producto__precio{
  font-size: 2rem;
  color: var(--secundario);
  text-align: center;
}

.producto__nombre{
  font-family: var(--fuentePrincipal);
  margin: 1rem 0;
  text-align: center;
}

