body{
    margin: 0%;
}
ul{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
nav{
    text-align: center;
}
.list-inline {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
.list-inline > li {
	display: inline-block;
    padding-right: 12.5%;
}